:root {
  --gradient: linear-gradient(90deg,#AB77FF, #00FF75);
  --darkgray: rgb(22, 22, 22);
  --mainFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
} 

body {
  margin: 0;
  font-family: var(--mainFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(41, 41, 41);
}

.App {
  text-align: center;
  justify-content: center;
}

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

header {
  background-color: var(--darkgray);
  width: 100%;
}

header a {
  text-decoration: none;
  color:rgb(255, 255, 255);
  font-size: 15pt;
}

header .navBar {
  width: fit-content;
  height: 60px;
  margin: 0 auto;
  padding: 0.1vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .underlayBar {
 width: 100%;
 margin: 0;
 padding: 3px 0vh;
 background: var(--gradient);
}

.mainPanel {
  color:aliceblue;
  background-color: var(--darkgray);
  padding: 50px;
  border-radius: 40px;
}

h1 {
  font-family: var(--mainFont);
}

.animPanel {
  flex-basis: 50vw;
  color: azure;
}

.exercise-listing {
  background: var(--gradient);
  color: var(--darkgray);
  
  text-align: left;
  border-radius: 30px;
  padding: 0px;
  font-size: 25pt;
}